#environment
env/

.DS_Store

#engine
engine/__pycache__/
engine/*.pyc
engine/*.pyo
engine/*.pyd

__pycache__
__pycache__/*.pyc
__pycache__/*.pyo
__pycache__/*.pyd

#testing
testing/

#vscode
.vscode/

#database
*.db