#environment
env/

.DS_Store

#engine
engine/__pycache__/
engine/*.pyc
engine/*.pyo
engine/*.pyd

# Python cache files
__pycache__/
*.py[cod]
*$py.class
__pycache__/main.cpython-313.pyc

#testing
testing/

#vscode
.vscode/

#database
*.db

dist/
build/
