eel==0.17.0
pyaudio==0.2.14
pvporcupine==1.9.5
playsound==1.3.0
pywhatkit==5.4
openai==1.63.2
SpeechRecognition==3.10.0
requests==2.31.0
gtts==2.5.4
pydub==0.25.1
audioop-lts==0.2.1
pygame==2.6.1
#mac aifc error, try rolling back to python v3.12.7 or prior to v3.13.0
standard-aifc==3.13.0
pyinstaller==6.12.0
# Explicitly exclude enum34 as it conflicts with Python 3.4+ standard library
enum34==0 ; python_version >= '3.4'