body{
    background-color: #111111;
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    position: absolute;
}

.wrapper textarea{
    flex: 1;
    width: 100%;
    background-color: #232323;
    resize: none;
    height: 30px;
    box-shadow: 0 0 0 10px #232323; /* Mimic outline */
    outline: none;
    padding: 6px 32px 6px 32px;
    font-size: 16px;
    max-height: 270px;
    border-radius: 20px;
    border: none;
    color: white;
    overflow: auto;
    line-height: 17px;
  }

textarea::-webkit-scrollbar{
    width: 8px;
}

textarea::-webkit-scrollbar-corner{
    right: 100px;
}

.mic-wrapper { 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -3px;
    bottom: 13px;
}

#microphone {
    background-color: transparent;
    border: none;
    width: 70%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

#microphone img {
    width: 60%;
    height: 50px;
    object-fit: contain;
    filter: brightness(3.0);
}

/* parent div for settings */
.settings{
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    padding: 10px 10px 10px 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
} 

.settings button{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    width: auto;
    height: auto;
}
.settings button img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: brightness(3.0);
}
#settings-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    width: auto;
    height: auto;
    pointer-events: auto;
}

/*hidden settings panel styliing */

.settings-panel {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #252525;
    color: white;
    border: 30px solid #252525;
    border-radius: 10px;
    width: 600px;
    height: 330px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    position: relative;
    pointer-events: auto;
    position: relative;
}

.settings-panel.show {
    display: block;
}

.settings-panel button{
    color: white;
}
.settings-panel label{
    pointer-events: none;
}

#closePanelBtn button{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: auto;
    height: auto;
}

#closePanelBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: auto;
    height: auto;
}

#closePanelBtn img {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-color: transparent;
}

.pref-sys-web {
    
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    justify-content: space-evenly; /* Align buttons to the top */
    align-items: flex-start; /* Align buttons to the left */
    width: 100%; /* Ensure the div takes full width for proper alignment */
    padding: 10px;
    gap: 5px;
    width: 100%;
    flex-grow: 1;
}

.pref-sys-web button{
    display: flex;
    left: 0px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: auto;
    box-sizing: border-box;
}

/* 
#preferences {
    display: flex;
    position: absolute;
    padding: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
#preferences-text{
    color: white;
    display: inline;
}
*/

#settings-text {
    font-weight:600;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-grow: 0;    /* Prevent it from taking up extra space */
    align-self: center;  /* Center it horizontally */
}